.container.body {
  margin-bottom: 25px;
  margin-top: 25px;
}

.container.body {
  min-height: calc(100vh - 165px);
}

.btn {
  cursor: pointer;
}

/*
   * Bootstrap 3 deprecated styles used by support vue-form-generator
*/
.form-group.error input {
  border-color: #d9534f;
}

.hint, .help-block {
  font-size: 0.8em;
  opacity: 0.8;
}

.errors {
  color: #d9534f;
}
